body
{
    height: 100%;
    margin:0px;
}
.container
{

    margin:0px 0px;
    width: 100vw;
    padding: 0px;
    ;
}
.swiper-container{
    margin-top:20px;
}
.facebook-block
{
    display:none;
}
.facebook-icon{
    display:none
}

.menu_container, .header
{
    width:100vw;
    position:static;

}
.mobile-menu
{
    display: block; 
    position:fixed;
    right:30px;
    top:12px;
}
.mobile-menu img
{
    width:20px;
    height:20px;
    margin: 4% 2%;    
}
.nav 
{
    background-color: #f2f2f2;
    display:block;
    text-align: right;
    position: absolute;
    top:25px;
    width:100%;
    margin-top:0px;
    margin:0px;


}
.header
{
    position:fixed;
}
ul{
    background-color: #fff;
    margin-top:0px;

}
.nav-link
{
    margin:0px;
}
li
{
    background-color: #fff;
    margin:0px;
    border-bottom: 1px solid black;

}
.brandlogo img
{
    float:left;
    margin-left:10px;
}

.first-section, .second-section, .third-section, .fourth-section, .fifth-section, .sixth-section, .seventh-section, footer
{
    width:100vw;
    padding-right: 0px;
    margin:0px;
}
.first-section-text 
{
    padding:0px;
    padding-top: 150px;
    padding-left:20px;
    width:100vw;

}
.first-section-text h2
{
    width:100%;
    font-size: 22px;
    line-height: 22px;
}
.first-section-text p
{
    width:100%;
    font-size: 16px;
}
.first-section-text .arrow
{
    margin-top:100px
}
.second-section
{ width:100%;
  background-image: url('../images/second-section-mobile.png');
  height:1234px;
  background-size: cover;
}
.second-section-text
{
    padding:0px;
    padding-top: 200px;
    padding-left:20px;
    width:80%;
}
.second-section-text h2
{
    width:100%;
    font-size: 20px;
    line-height: 22px;
}
.second-section-text p
{
    margin-top:40px;
    margin-bottom: 35px;
    width:100%;
    font-size: 16px;
    line-height: 16px;
}
.news
{
    margin-top: 120px;
    position:static;
}
.first-news, .second-news, .third-news 
{
    padding:15px
}
.first-news, .second-news, .third-news h5 
{
    font-size: 18px;
    font-weight: 300;
}
.news-arrow
{
    margin-top:0px;
}
.third-section-text
{
    padding:0px;
    padding-top: 150px;
    padding-left:20px;
    width:80%;
}
.third-section-text h2
{
    width:100%;
    font-size: 22px;
    line-height: 24px;
    height:100px;
}
.third-section-text p
{
    margin-top:0px;
    margin-bottom: 0px;
    width:100%;
    font-size: 16px;
    line-height: 16px;
}
.fourth-section
{   
    background-size: cover;
    height: 100%;
    margin:0px;
}
.icon img
{
    margin-left: -20px;
}
.icon h6
{
    margin-left:-20px;
}
.icon p
{
    text-align: center;
    margin-left:75px
}
.fifth-section
{
    background-image: url('../images/fifth-section-mobile.png');
    background-size: cover;  
}
.fifth-section-text
{
    padding:0px;
    padding-top: 150px;
    padding-left:20px;
    width:80%;
}
.fifth-section-text h2
{
    width:80%;
}
.fifth-section-text p
{
    width:80%;
}
.sixth-section
{
    height: 100%;
}
.sixth-section p
{
    float:left;
    width:100%;
    height: 100%;
    padding: 15%;
}

.sixth-section h6
{
    margin-left: 115px
}

.sixth-section .row
{
    float:left;
    margin:0px 90px 0px 70px;
}
.sixth-section img
{
    height:100%;
}
.seventh-section
{
    height: 100%;
}
.first-foot p
{
    width:100%;
    margin-left:15px;
    margin-right:200px;
}
.second-foot p {
    width:100%;
    margin-left:15px;
    margin-right:200px;
}
.last-foot p
{
    width:100%;
    margin-left:15px;
    margin-right:200px;
}
footer img {
    position:relative;
    left:5px;
    top:22px
}
footer p
{
    margin-left:40px;
}
footer
{
    margin:0px;
    padding:0px;
}