html *
{
    opacity:1;
}
body
{
    height: 100%;
    margin:0px;
}
#usługi
{
    margin-top:50px;
    z-index:2;
}
.swiper-slide .swiper-slide-active
{
    z-index: 2;
}
.container
{

    margin:0px 0px;
    width: 100vw;
    padding: 0px;
    ;
}
.swiper-container{
    margin-top:20px;
}
.facebook-block
{
    display:none;
}
.facebook-icon{
    display:none
}

.menu_container, .header
{
    width:100vw;
    position:fixed;
    top:0px;
    margin:0px;

}
.mobile-menu
{
    display: block; 
    position:fixed;
    right:30px;
    top:12px;
}
.mobile-menu img
{
    width:20px;
    height:20px;
    margin: 4% 2%;    
}
.nav 
{
    z-index:3;

    background-color: #f2f2f2;
    display:block;
    text-align: right;
    position: absolute;
    top:25px;
    width:100%;
    margin-top:0px;
    margin:0px;

}

.header
{
    position:fixed;
    z-index:3;
}
ul{
    background-color: #fff;
    margin-top:0px;

}
.nav-link
{
    margin:0px;
}
li
{
    background-color: #fff;
    margin:0px;
    border-bottom: 1px solid black;

}
.brandlogo img
{
    float:left;
    margin-left:10px;
}

.first-section, .second-section, .third-section, .fourth-section, .fifth-section, .sixth-section, .seventh-section, footer
{
    width:100vw;
    padding-right: 0px;
    margin:0px;
}
.first-section-text 
{
    padding:0px;
    padding-top: 150px;
    padding-left:40px;
    width:100vw;

}
.first-section-text h2
{
    width:100%;
    font-size: 22px;
    line-height: 22px;
}
.first-section-text p
{
    width:100%;
    font-size: 16px;
}
.first-section-text .arrow
{
    margin-top:100px
}
.second-section
{ width:100%;
  background-image: url('../images/second-section-mobile.png');

  background-repeat: no-repeat
}
.second-section-text
{
    padding:0px;
    padding-top: 200px;
    padding-left:20px;
    width:80%;
}
.second-section-text h2
{
    width:100%;
    font-size: 20px;
    line-height: 22px;
}
.second-section-text p
{
    margin-top:40px;
    margin-bottom: 35px;
    width:100%;
    font-size: 16px;
    line-height: 16px;
}
.news
{

    display: none;
}

.news-arrow
{
    margin-top:0px;
}
.third-section-text
{
    padding:0px;
    padding-top: 150px;
    padding-left:20px;
    width:80%;
}
.third-section-text h2
{
    width:100%;
    font-size: 22px;
    line-height: 24px;
    height:100px;
}
.third-section-text p
{
    margin-top:0px;
    margin-bottom: 0px;
    width:100%;
    font-size: 16px;
    line-height: 16px;
}
.fourth-section
{   
    background-size: cover;
    height: 100%;
    margin:0px;
    padding: 0px -15px;
}
.fourth-section-text  .icon .col
{   
    padding: 0px !important;
    display:block !important;
    float:left;
    margin-right: 0px;
    padding-right:0px;
    width:100%;
}
s
.icon img
{
    margin-right: 0px;
   

    padding-right:0px;

}
.icon h6
{
    margin-right: 0px;
    padding: 0px;

    padding-right:0px;

}
.icon p
{
    text-align: center;
    padding-right:0px;
    margin:0px auto;;


}
.fifth-section
{
    background-image: url('../images/fifth-section-mobile.png');
    background-size: cover;  
}
.fifth-section-text
{
    padding:0px;
    padding-top: 50px;
    padding-left:20px;
    width:80%;
}
.fifth-section-text h2
{

    width:80%;
}
.fifth-section-text p
{
    width:80%;
    padding-top: 50px;
}

.fifth-section-text .arrow
{
    margin-top: 190px;
}
.sixth-section
{
    height: 100%;
}
.sixth-section p
{
    float:left;
    width:100%;
    height: 100%;
    padding: 15%;
}

.sixth-section h6
{
    margin: 10% auto;
}

.sixth-section .row
{
    float:left;
    display: block;
    padding: 25%;

}
.sixth-section p
{
    margin-top:-30%;
}

.seventh-section
{
    height: 100%;
}
.first-foot p
{
    width:100%;
    margin-left:15px;
    margin-right:200px;
}
.second-foot p {
    width:100%;
    margin-left:15px;
    margin-right:200px;
}
.last-foot p
{
    width:100%;
    margin-left:15px;
    margin-right:200px;
}
footer img {
    position:relative;
    left:5px;
    top:22px
}
footer p
{
    margin-left:40px;
}
footer
{
    margin:0px;
    padding:0px;
}